@charset "utf-8";
/* CSS Document */
body{
	background-color: black;
}
h1{
	color: white;
	font-size: 20px;
	border: double red 2px;
	border-radius: 5px;
	width: 90px;
}
h2{
	border: dotted 2px white;
	border-radius: 3px;
	color: white;
}
p{
	color: green;
	font-size: 12px;
}
p1{
	color:gray;
	border: 2px solid red;
	border-radius: 3px;
}
ol{
	
	color: white;
}
ul{
	list-style-type: square;
	color: white;
}
.jotain{
	border: 2px dotted white;
	height: 100px;
	width: 100px;
	}
.Box{
	color: grey;
	background-color: red;
	border: double yellow 2px;
	height: auto;
	width: 5%;
}
